{% extends "base.html" %}

{% block header %}
    <h1>Book Shop Inventory: Edit a book</h1>
{% endblock %}

{% block content %}
<section class="edit-class">
    <div class="edit-form">
        <form action="/books/{{ book.id }}/edit_book" method="post">

            <b><label for="title">Title:</label><br></b>
            <input type="text" id="title" name="title" value="{{book.title}}" required autofocus><br>
            <b><label for="genre">Genre:</label><br></b>
            <select name="genre" id="genre">
                <option value="Fantasy">Fantasy</option>
                <option value="Sci-fi">Sci-fi</option>
                <option value="Educational">Educational</option>
                <option value="Horror">Horror</option>
                <option value="Thriller">Thriller</option>
                <option value="Crime">Crime</option>
            </select> <br>
            <b><label for="description">Description:<label><br></b>
            <input type="text" id="description" name="description" value="{{book.description}}" required autofocus><br>
            <b><label for="stock_count">Stock Count:</label><br></b>
            <input type="number" id="stock_count" name="stock_quantity" value="{{book.stock_quantity}}" required autofocus><br>
            <b><label for="buying_cost"> Buying Cost:</label><br></b>
            <input type="number" id="buying_cost" name="buying_cost" value="{{book.buying_cost}}" required autofocus><br>
            <b><label for="selling_price">Selling Price:</label><br></b>
            <input type="number" id="selling_price" name="selling_price" value="{{book.selling_price}}" required autofocus><br>
            
            


            <button type="submit">Update Book</button>

        </form>
    </div>
</section>

{% endblock %}