{% extends "base.html" %}

{% block header %}
    <h1>Book Shop Inventory: Books by author</h1>
{% endblock %}


{% block content %}
    <section class="filter-genre">
        {% for book in all_books %}
            <div class="filter-g">
                <b><p>Title:</p></b>
                {{ book.title }}<br>
                <b><p>Genre:</p></b>
                {{book.genre}}<br>
                <b><p>Description:</p></b>
                {{book.description}}<br><br>
                <a href="/books/{{book.id}}">See here for more information</a><br>
                <form class="delete_book" action="/books/{{ book.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <form class="edit_book" action="/books/{{book.id}}/edit_book">
                    <input type="submit" value="Edit">
                </form>


            </div>

        {% endfor %}
    </section>
{% endblock %}