{% extends "base.html" %}

{% block header %}
    <h1>Book Shop Inventory: All items</h1>
{% endblock %}


{% block content %}
    <section class="book_section">

            <div class="filter">
                <form action="/books/author" method="POST">
                    <label for="filter_Author">Select here to filter by author</label>
                    <select name="author_id" id="author">
                        {% for author in all_authors %}
                            <option value="{{ author.id }}">{{ author.first_name }} {{author.last_name}}</option>
                        {% endfor %}
                        </select>
                    <input type="submit" value="Filter">
                </form>
            </div>
            {% for book in all_books %}
            <div class="books">
                {{ book.title }}<br>
                {{book.genre}}<br>
                {{book.description}}<br>
                <a href="/books/{{book.id}}">See here for more information</a>
                <form class="delete_book" action="/books/{{ book.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <form class="edit_book" action="/books/{{book.id}}/edit_book">
                    <input type="submit" value="Edit">
                </form>


            </div>

            {% endfor %}
    </section>
{% endblock %}