{% extends "base.html" %}

{% block header %}
    <h1>Book Shop Inventory: Add book to Inventory</h1>
{% endblock %}

{% block content %}
<section class="add_book">
    <div class="create_form">
        <form action="/books" method="post">
                <b><label for="title">Title:</label><br></b>
                <input type="text" id="title" name="title" placeholder="Title" required autofocus><br>
                <b><label for="genre">Genre:</label><br></b>
                <select name="genre" id="genre">
                    <option value="Fantasy">Fantasy</option>
                    <option value="Sci-fi">Sci-fi</option>
                    <option value="Educational">Educational</option>
                    <option value="Horror">Horror</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Crime">Crime</option>
                </select> <br>
                <!-- <input type="text" id="genre" name="genre" placeholder="Genre" required autofocus><br> -->
                <b><label for="description">Description:</label><br></b>
                <input type="text" id="description" name="description" placeholder="Description" required autofocus><br>
                <b><label for="stock_count">Stock Count:</label><br></b>
                <input type="number" id="stock_count" name="stock_quantity" placeholder="Stock Count" required autofocus><br>
                <b><label for="buying_cost"> Buying Cost:</label><br></b>
                <input type="number" id="buying_cost" name="buying_cost" placeholder="Buying Cost" required autofocus><br>
                <b><label for="selling_price">Selling Price:</label><br></b>
                <input type="number" id="selling_price" name="selling_price" placeholder="Selling Price" required autofocus><br>
                


            <button type="submit">Add Book</button>
        </form>
    </div>
</section>

{% endblock %}