{% extends "base.html" %}

{% block header %}
    <h1>Book Shop Inventory: All authors</h1>
{% endblock %}


{% block content %}
    <b><h1 style="font-size:20px;">Authors:</h1></b> <br> 

    <section class="author-section">
        {% for author in all_authors %}
            <div class="author-div">
                <b> Name: </b>
                {{ author.first_name }} {{author.last_name}}<br><br>
                <b> Age: </b>
                {{author.age}}<br><br>
                <b>Active: </b>
                {% if author.active==True %}
                    <span>&#9989;</span>
                {% else %}
                    <span>&#10060;</span> 
                {%endif%}<br>
                <a href="/authors/{{author.id}}">See here to view a single author</a><br>
                <form class="delete_author" action="/authors/{{ author.id }}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <form class="edit_author" action="/authors/{{author.id}}/edit_author">
                    <input type="submit" value="Edit">
                </form>


            </div>

        {% endfor %}
    </section>
{% endblock %}