{% extends "base.html" %}

{% block header %}
    <h1>Book Shop Inventory: Add Author to Inventory</h1>
{% endblock %}

{% block content %}
<section class="add-author">
    <div class="create_form">
        <form action="/authors" method="post">
            <b><label for="first_name">First Name:</label><br></b>
            <input type="text" id="first_name" name="first_name" placeholder="First Name" required autofocus><br>
            <b><label for="last_name">Last Name:</label><br></b>
            <input type="text" id="last_name" name="last_name" placeholder="Last Name" required autofocus><br>
            <b><label for="age">Age:</label><br></b>
            <input type="number" id="age" name="age" placeholder="Age" required autofocus><br>
            <b><label for="active">Activate/Deactivate:</label><br></b>
            <input type="checkbox" id="active" name="active" ><br>
                


            <button type="submit">Add author</button>
        </form>
    </div>
</section>

{% endblock %}