<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Book Shop Inventory</title>
</head>
<body>
  <header>
    {% block header %}

    {% endblock %}
    
  </header>
  <nav>
    <ul class="book_shop_nav">
      <li><a href="/">Home</a></li>
      <li><a href="/books">Books</a></li>
      <!-- <li><a href="/books/new_book">Add Book</a></li> -->
      
     
    </ul>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>